/* Container */

.container{

}

/*header*/


.navbar-font{
  margin-left: 2%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  color: #EDF2F4;
}
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.red{
  color: #EF233C;
  font-weight: bold;
  text-decoration: underline;
}

/*Hero*/
.hero-container{
  position: relative;
  text-align: center;
  color: #EDF2F4;
}

.hero-image{
  max-width: 100%;
}

.overlay{
  position: absolute;
  top: 30%;
  width: 100%;
  background: #2B2D42;
  opacity: .8;
}

.hero-head{
  font-family: 'Montserrat', sans-serif;
  font-size: 6em;
  color: #EDF2F4;
  margin: 0 auto;
}
.underline{
  text-decoration: underline;
}
.hero-sub{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #f08080;
  text-decoration: none;
}

/* Media Queries */
@media(max-width:650px) {

  p{
    padding-left: 20px;
    padding-right: 10px;
  }
  .chapter-head{
    font-size: 1.25em;
    color: #2B2D42;
  }
  .head{
    font-size:2em;
  }
  .hero-container{
    font-size: 1.5em;
  }
}

.headline{
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.chapterhead{
  font-size: 2em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.header{
  width: 100%;
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.quote{
  font-size: 1.5em;
  color: #EF233C;
}

.pullquote{
  font-size: 1.5em;
  color: #EDF2F4;
  background-color: #EF233C;
}
.pullquote2{
  font-size: 1.5em;
  color: #EDF2F4;
  background-color: #8D99AE;
}
.italic{
  font-size: .75em;
  font-style: italic;
}

.padding{
  padding-top: 4em;
}
/*pics*/

.pics{
  max-width: 100%;
}
figcaption{
  font-size: .75em;
  font-style: italic;
}

.caption{
  font-size: .75em;
  font-family: "Georgia", serif;
  font-style: italic;
  text-align: center;
}

.credits{
  font-style: italic;
}

p{
  font-family: "Georgia", serif;
  line-height: 180%;
}

footer{
  text-align: center;
  color: white;
  background-color: black;
  width: 100%
}

/*From W3 Schools (https://www.w3schools.com/howto/howto_css_three_columns.asp)*/
.column {
  float: left;
  width: 33.33%;
  text-align: center;
}
