/* Container */

.container{
  margin: 0 auto;
}

/*header*/

.navbar{
  width: 100%;
  margin: 0 auto;
  z-index: 9999;
}

.navbar-font{
  margin-left: 15vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vw;
  color: #EDF2F4;
}
.sticky{
  position: fixed;
  top: 0;
}

.red{
  color: #EF233C;
  font-weight: bold;
  text-decoration: underline;
}

/*Hero*/
.hero-container{
  position: relative;
  text-align: center;
  color: #EDF2F4;
  width: 100%;
}

.hero-image{
  width: 100%;
}

.overlay{
  position: absolute;
  top: 30%;
  width: 100%;
  background: #2B2D42;
  opacity: .8;
}

.hero-head{
  font-family: 'Montserrat', sans-serif;
  font-size: 5vw;
  color: #EDF2F4;
  margin: 0 auto;
  width: 100%;
}
.underline{
  text-decoration: underline;
}
.hero-sub{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #f08080;
  text-decoration: none;
  font-size: 4vw;;
}


/* NOTE: end Hero */


.headline{
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.chapterhead{
  font-size: 2em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.header{
  width: 100%;
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.quote{
  font-size: 1.5em;
  color: #EF233C;
}

.pullquote{
  font-size: 3vw;
  color: #EDF2F4;
  background-color: #EF233C;
  text-align: center;
}
.pullquote2{
  font-size: 2vw;
  color: #EDF2F4;
  background-color: #8D99AE;
  text-align: center;
}
.quote-attribution{
  color: black;
}
.italic{
  font-size: .75em;
  font-style: italic;
}
.padding{
  padding: 20vh;
}
.padding-top{
  padding-top: 20vh;
}
.padding-top2{
  padding-top: 40vh;
}
.padding-top3{
  padding-top: 5vh;
}
.center{
  vertical-align: middle;
}

/* NOTE: Bootstrap Grids */
.row{
  margin: 0 auto;
}

/* NOTE: Bootstrap accordion  */
.yellow{
  background-color: #FEFDD1;
}



/*pics*/

.pics{
  max-width: 100%;
}
figcaption{
  font-size: .75em;
  font-style: italic;
}

.caption{
  font-size: .75em;
  font-family: "Georgia", serif;
  font-style: italic;
  text-align: center;
}
.map{
  margin: 0 auto;
  width: 50vw;
  min-width: 500px;
}

.credits{
  font-style: italic;
}

p{
  font-family: "Georgia", serif;
  line-height: 180%;
}

footer{
  text-align: center;
  color: white;
  background-color: black;
  width: 100vw;
}

body{
  overflow-x: hidden;
}

/* Media Queries */
  /* NOTE: second pull quote is too small on smaller screens */
@media screen (max-width: 850px;) {
  .pullquote2{
    font-size: 3em;
  }
}
