/* styles for my resume */

  body{
    font-family: arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
    position: relative;
  }

/* scrollspy */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

/* container */
  #container{
    margin: 0 auto;
  }

/* Work container */
  #work-container{
    padding-top: 100px;
    padding-bottom: 40px;
    margin: 0 auto;
    margin-left: 25%;
  }

  .footballstory{
    height: 2em;
    width: 2em;
  }

/* Photo Gallery */
#photoGal{
  margin: 0 auto;
  padding-bottom: 50px;
}
.carousel{
  width: 75%;
}
.caption{
  background-color: black;
  opacity: 60%;
}

/* Experience container */
#experience-container{
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
  margin-left: 25%;

}

.company{
  text-decoration: overline;
}

/* Education container */
#education-container{
  padding-bottom: 40px;
  margin: 0 auto;
  margin-left: 25%;

}

/* Skills container */
#skills-container{
  padding-bottom: 40px;
  margin: 0 auto;
  margin-left: 25%;
}


/*contact info*/
  .contact{
    text-align: center;
  }

  .contact li{
    display: inline-block;
    padding: 10px;
  }

  .contact li:hover{
    border-bottom: 4px solid black;
  }


/* name */
  #name{
    font-size: 3.5em;
    text-transform: uppercase;
    color:#33485e;
    text-align:center;
    border-bottom: 2px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
  }

/* title */
  #title{
    text-transform: uppercase;
    font-size: 2em;
    color: #33485e;
    font-weight: 600px;
    text-align: center;
    margin-top: 20px;
  }

/*about section*/
  .about{
    font-size: 1em;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    padding-bottom: 20px;
  }

  .aboutme{
    text-align: center;
  }

/*web page header*/
  .header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

/* section title */
  .sectionheader{
    font-size: 2em;
    text-transform: uppercase;
    text-indent: 10px;
    background-color: #EBCB71;
    color: white;
    font-weight: 400;
    margin: 20px, 0px, 10px, 0px;
    width: 50%;
    min-width: 300px;
  }

/* subtitles */
  h3{
    font-size: 1.5em;
  }


  .degree{
    font-size: 1.5em;
    text-decoration: underline;
  }


/* job titles */
  .jobtitle{
    font-weight: 600;
    font-size: 2em;

  }

/* job organization */
  .organization{
    font-weight: 400;
    font-size: 1.5em;

  }

/* job dates */
  .date{
    font-weight: 400;
    font-size: 1em;
    margin: 3px, 0px, 0px, 0px;

  }

/* descriptions */
  .description{
    margin: 10px, 0px, 10px, 0px;

  }

/*contact information*/
  .menu{
    margin: 0 auto;
    text-align:center;

  }

/*menu list items*/
  .menu li{
    display: inline;
  }

/*degrees*/
  .degrees{
    margin-top: 5px;
  }

/*skills*/
  .do{
    margin-top: 5px;
  }

 li{
   font-size: 1em;
 }

 p{
   text-indent: 20px;
   padding: 10px;
   margin-right: 30%;
 }

 h5{
   margin-right: 250px;
 }

/*mission statement*/
  .top{
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .seperator{
    padding: 50px;
  }

  .underline{
    text-decoration: underline;
  }
