/* styles for my resume */

  body{
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
  }

/* name */
  h1{
    font-size: 3.5em;
    text-transform: uppercase;
    color:#33485e;
    text-align:center;
  }

/* title */
  strong{
    text-transform: uppercase;
    font-size: 2em;
    color: #33485e;
  }

/* section title */
  h2{
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: white;
    font-weight: 400;

  }

/* job titles */
  h3{
    font-weight: 600;
    font-size: 2em;

  }

/* job organization */
  h4{
    font-weight: 400;
    font-size: 1.5em;

  }

/* job dates */
  h5{
    font-weight: 400;
    font-size: 1em;

  }

  /* job descriptions */
  p{
    font-weight: 400;
  }

  /* list items */
  li{
    font-weight: 400;
  }
