/* styles for my resume */

  body{
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
  }

  #container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

/* name */
  #name{
    font-size: 3.5em;
    text-transform: uppercase;
    color:#33485e;
    text-align:center;
    border-bottom: 2px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
  }

/* title */
  #title{
    text-transform: uppercase;
    font-size: 2em;
    color: #33485e;
    font-weight: 600px;
    text-align: center;
    margin-top: 20px;
  }



/* section title */
  .sectionheader{
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: white;
    font-weight: 400;
    margin: 20px, 0px, 10px, 0px;
    width: 70%;
    min-width: 300px;
  }

/* job titles */
  .jobtitle{
    font-weight: 600;
    font-size: 2em;

  }

/* job organization */
  .organiization{
    font-weight: 400;
    font-size: 1.5em;

  }

/* job dates */
  .date{
    font-weight: 400;
    font-size: 1em;
    margin: 3px, 0px, 0px, 0px;

  }

/* descriptions */
  .description{
    margin: 10px, 0px, 10px, 0px;

  }

/*contact information*/
  .menu{
    margin: 0 auto;
    padding: 0 auto;
    text-align:center;

  }

/*menu list items*/
  .menu > li{
    display: inline;
  }

/*degrees*/
  .degrees{
    margin-top: 5px;
  }

/*skills*/
  .do{
    margin-top: 5px;
  }

 li{
   font-size: 1em;
 }

/*mission statement*/
  .top{
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
