* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
  background: black;
}

/* NOTE: ScrollSnap -- I chose scrollsnap to help preserve the structure
from the print version of the story which is purposfully structure to stress specific moments.
Each section reflects a page.*/

section{
  height:100vh;
  display: block;
  scroll-snap-align: start;
  background: black;
  padding-top: 50px;
}

.container{
  height: 100vh;
  top: 50%;
}

.snapcontainer{
  scroll-snap-type: y mandatory; /*scroll snap from https://www.youtube.com/watch?v=htw4iKMYzEc */
  overflow-y: scroll;
  height: 100vh;
}

/* NOTE: End Scrollsnap */

/* NOTE: Hero Image */
.header{
  max-width: 100%;
  background: black;
  height: auto;
  text-align: center;
}

/* NOTE: used for solo pictures */
.hiroshima{
  margin: 0 auto;
  max-width: 90%;
  min-width: 400px;
  max-height: 750px;
}


.padding{
  padding: 50vh;
}

/* NOTE: for profile pictures */
.profile{
  max-width: 50%;
}

/* NOTE: for profile pictures */
.picpad{
  vertical-align: middle;
}

/* NOTE: for introduction of characters */
.name{
  color: #DD4207;
  font-weight: bold;
}

.pullquote{
  font-family: 'Playfair Display SC', serif;
  color: #DFC876;
  font-size: 2.5em;
}

/* NOTE: For when Mr. Tanaka dies. */
.tanaka{
  font-size: 2.5em;
  padding-top: 25%;
}

/*sections*/
.intro{
  height: 110vh;
}
.map{
  height: 60vh;
}
.two{
  padding-top: 25%;
}
.three{
  padding-bottom: 100px;

}

.conclusion{
  margin: 0 auto;
  vertical-align: middle;
  padding-bottom: 10vh;
}


/*tags*/

/* NOTE: section headers */
h1{
  font-family: 'Playfair Display SC', serif;
  color: #DD4207;
  text-align: left;
  text-decoration: underline;
  font-size: 2.5em;
  padding-top: 10%;
  padding-left: 5%;


}

/* NOTE: subheading for denoting a section was written by me. */
h2{
  font-family: 'Playfair Display SC', serif;
  color: white;
  text-align: left;
  font-size: 1em;
  padding-left: 5%;
  padding-bottom: 5%;
}


p{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 1em;
  font-weight: normal;
}


/* NOTE: photo captions */
figcaption{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 1em;
  font-style: italic;
}

/* NOTE: Media Queries */

@media all and (max-width: 1200px){
  section{
    height: auto;
    scroll-snap-align: none;
    padding-top: 0px;

  }
}
